.header {display: inline-block; color: black; padding-bottom: 14;}
.header-line {background-color: #e9effd;}
.banner {margin: 0 100; display: inline-block;}
footer {background-color: #e9effd; border-top: 1px solid black; padding: 10 0 10 20; margin: 10 0 0 0;}
.line { 
position: absolute;
width: 0px;
height: 26.7px;
border-color: #363e97;
border-width: 1px;
border-style: solid;
background: #3d58a6;}
.social-icons {margin: 5 10 5 10;}

.header-line {
    overflow: hidden;
    background-color: #e9effd;
  }
  
  .header-line a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .header-line a:hover {
    background-color: #dde1ec;
    color: rgb(0, 0, 0);
  }
  
.header-line a.header {background-color: aqua;}

.map {
  width: 850;
  height: 450;
margin-top: 50px;
display: inline-block;
margin-bottom: 50;
}
.contact-details {
  display: inline-block;
  margin: 50 50 0 50;
  vertical-align: top;
}
.contact-lines {
  margin-bottom: 10px;
}